{% extends "template/base.html" %}

<!-- HEAD**************************************** -->
<!-- TITLE-->
{% block title %}测试列表{% endblock %}

<!-- EXTRAHEAD-->
{% block extrahead %}
<script>
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
$(function(){
var name = getUrlParameter('name');

$('#myTable').append('<tr><td>#</td><td>' + new Date($.now()) + '</td><td>' + name + '</td><td></td><td>正在测试</td></tr>' );
});


</script>
{% endblock %}
<!-- BODY**************************************** -->
<!-- NAVIGATION -->

<!-- CONTENT -->
    <!--SIDE_BAR-->

    <!--CONTENT_CONTAINER-->
    {% block content_container %}
<div class="table-responsive">
    <h1 class="page-header">测试列表
        <button class="btn btn-link btn-lg" id="btn_" type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </h1>

    <table class="table table-striped table-hover" id='myTable'>
        <thead>
        <tr>
            <th>#</th><th>时间</th><th>测试名</th><th>提交人</th><th>测试状态</th>
        </tr>
        </thead>
        <tbody id="tbody_user_edit">
        {% for personnel in personnels %}
            <tr>
                <td class="user_id">{{ personnel.user_id }}</td>
                <td>{{ personnel.name or 'eugene' }}</td>
                <td>{{ personnel.position }}</td>
                <td>{{ personnel.job_detail }}</td>
                <td>{{ personnel.role }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table><!--table-->
</div><!--table-responsice-->
    {% endblock content_container %}

<!-- FOOTER -->

<!-- EXTRA_STYLE -->
{% block extra_style %}
{{ super() }}
<style>
    .table img{
        max-height: 24px;max-width: 24px;
    }
</style>
{% endblock %}
